/* Estilo da página inicial */
.navegacao {
  display: grid;
  grid-template-columns: 180px 2fr 180px;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
  background-color: #16324f;
  height: 100px;
}
.navegacao img {
  height: 90px;
  display: flex;
  margin-left: 100px;
}
.navegacao input {
  width: 180px;
  height: 30px;
  justify-self: center;
}
.navegacao ul {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 20px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.navegacao a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  color: #dce7f0;
}
.navegacao a:hover {
  transform: scale(1.1);
  color: #f6b73c;
}
video {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 30px;
  border-radius: 14px;
}
.pagina {
  width: 90%;
  margin: auto;
}
body {
  background-color: #eef2f5;
  color: #203040;
  font-family: Arial, sans-serif;
}
#cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  gap: 50px;
}
#cursos img {
  width: 350px;
  border-radius: 14px;
}
#cursos a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  color: #203040;
  font-size: 22px;
}
#cursos a:hover {
  transform: scale(1.04);
  color: #b86f00;
}
.profissao {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  width: 100%;
  height: 300px;
  margin: auto;
  gap: 10px;
  background-color: #7a4e2d;
  color: white;
  border-radius: 14px;
  overflow: hidden;
}
.profissao img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.profissao p {
  width: 90%;
  text-align: center;
  margin: auto;
  font-size: 20px;
}
.profissao h2 {
  text-align: center;
  font-size: 30px;
}
#objetivo ul {
  list-style: none;
}
.rodape-conteudo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 30px;
  background-color: #16324f;
  color: white;
}
footer a {
  text-decoration: none;
  display: inline-block;
  color: #f1f5f8;
  transition: 0.3s;
}
footer a:hover {
  transform: scale(1.08);
  color: #f6b73c;
}
.texto-extra {
  margin: 30px 0;
  padding: 20px;
  background-color: #dce5eb;
  border-radius: 14px;
}
.texto-extra h2 {
  text-align: center;
}
.texto-extra p {
  text-align: justify;
  font-size: 18px;
}
